{"openapi":"3.0.0","info":{"title":"Bizzpack API Documentation","version":"","description":"Bizzpack API specification and documentation.","termsOfService":"","license":null,"contact":[],"x-logo":{"url":"https:\/\/bizzsol.com.bd\/erp\/images\/bizz-logo-lg.png","altText":"Bizzpack API Documentation","backgroundColor":""}},"components":{"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"schemas":[]},"servers":[{"url":"https:\/\/bizzsol.com.bd\/sslz","description":"Documentation generator server."},{"url":"http:\/\/test.example.com","description":"Test server."}],"paths":{"\/api\/login":{"post":{"tags":["general"],"operationId":"","description":"","requestBody":{"description":"","required":true,"content":{"application\/json":{"schema":{"type":"object"}}}},"parameters":[],"responses":{"422":{"description":"error","content":{"application\/json":{"schema":{"type":"object","example":{"success":false,"message":"Token is not found!"}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X POST \"https:\/\/bizzsol.com.bd\/sslz\/api\/login\" \n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/bizzsol.com.bd\/sslz\/api\/login\");\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"POST\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"https:\/\/bizzsol.com.bd\/sslz\/api\/login\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/units":{"get":{"tags":["Unit"],"operationId":"List of Units","description":"Get the List of all available Units.","parameters":[{"in":"query","name":"token","description":"Authentication Token List would be provided by BIZZSOL","required":true,"schema":{"type":"string","example":"abcdefghijklmnopqrstuvwxyzabcdef"}}],"responses":{"500":{"description":"error","content":{"application\/json":{"schema":{"type":"object","example":{"success":false,"message":"Invalid Token!"}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/bizzsol.com.bd\/sslz\/api\/units\" \n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/bizzsol.com.bd\/sslz\/api\/units\");\n\nlet params = {\n    \"token\": \"abcdefghijklmnopqrstuvwxyzabcdef\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$query = [\n    \"token\" => \"abcdefghijklmnopqrstuvwxyzabcdef\",\n];\n\n\n$ch = curl_init(\"https:\/\/bizzsol.com.bd\/sslz\/api\/units?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/departments":{"get":{"tags":["Department"],"operationId":"List of Departments","description":"Get List of all available Departments.","parameters":[{"in":"query","name":"token","description":"Authentication Token List would be provided by BIZZSOL","required":true,"schema":{"type":"string","example":"abcdefghijklmnopqrstuvwxyzabcdef"}}],"responses":{"500":{"description":"error","content":{"application\/json":{"schema":{"type":"object","example":{"success":false,"message":"Invalid Token!"}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/bizzsol.com.bd\/sslz\/api\/departments\" \n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/bizzsol.com.bd\/sslz\/api\/departments\");\n\nlet params = {\n    \"token\": \"abcdefghijklmnopqrstuvwxyzabcdef\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$query = [\n    \"token\" => \"abcdefghijklmnopqrstuvwxyzabcdef\",\n];\n\n\n$ch = curl_init(\"https:\/\/bizzsol.com.bd\/sslz\/api\/departments?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]},"post":{"tags":["Department"],"operationId":"Store Department","description":"Store a new Department.","requestBody":{"description":"Store a new Department.","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["code","name","min_range","max_range"],"properties":{"code":{"type":"string","example":"ICT","description":"Code of the Department"},"name":{"type":"string","example":"Information Technology","description":"Name of the Department"},"min_range":{"type":"number","example":0,"description":"Minimum Approval Range of the Department"},"max_range":{"type":"number","example":10000000,"description":"Maximum Approval Range of the Department"}},"example":{"code":"ICT","name":"Information Technology","min_range":0,"max_range":10000000}}}}},"parameters":[{"in":"query","name":"token","description":"Authentication Token List would be provided by BIZZSOL","required":true,"schema":{"type":"string","example":"abcdefghijklmnopqrstuvwxyzabcdef"}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"success":true,"data":{"message":"Department has been stored successfully."}}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X POST \"https:\/\/bizzsol.com.bd\/sslz\/api\/departments\" \n    -d \"code\"=\"ICT\" \\\n    -d \"name\"=\"Information Technology\" \\\n    -d \"min_range\"=\"0\" \\\n    -d \"max_range\"=\"10000000\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/bizzsol.com.bd\/sslz\/api\/departments\");\n\nlet params = {\n    \"token\": \"abcdefghijklmnopqrstuvwxyzabcdef\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"code\": \"ICT\",\n    \"name\": \"Information Technology\",\n    \"min_range\": \"0\",\n    \"max_range\": \"10000000\",\n})\n\nfetch(url, {\n    method: \"POST\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"code\" =>  \"ICT\",\n    \"name\" =>  \"Information Technology\",\n    \"min_range\" =>  \"0\",\n    \"max_range\" =>  \"10000000\",\n];\n\n$query = [\n    \"token\" => \"abcdefghijklmnopqrstuvwxyzabcdef\",\n];\n\n\n$ch = curl_init(\"https:\/\/bizzsol.com.bd\/sslz\/api\/departments?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_setopt($ch, CURLOPT_POSTFIELDS, $body);\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/departments\/{department}":{"get":{"tags":["Department"],"operationId":"Department Details","description":"Get Department by it's unique ID.","parameters":[{"in":"query","name":"token","description":"Authentication Token List would be provided by BIZZSOL","required":true,"schema":{"type":"string","example":"abcdefghijklmnopqrstuvwxyzabcdef"}},{"in":"path","name":"deprtment_id","description":"ID of the Department","required":true,"schema":{"type":"integer","example":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"success":true,"data":{"department":{"id":106,"code":"Finance & Accounts","name":"Finance & Accounts","min_range":"0","max_range":"1000000000"}}}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/bizzsol.com.bd\/sslz\/api\/departments\/{department}\" \n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/bizzsol.com.bd\/sslz\/api\/departments\/{department}\");\n\nlet params = {\n    \"token\": \"abcdefghijklmnopqrstuvwxyzabcdef\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$query = [\n    \"token\" => \"abcdefghijklmnopqrstuvwxyzabcdef\",\n];\n\n\n$ch = curl_init(\"https:\/\/bizzsol.com.bd\/sslz\/api\/departments\/{department}?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]},"put":{"tags":["Department"],"operationId":"Update Department","description":"Update an available Department.","requestBody":{"description":"Update an available Department.","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["code","name","min_range","max_range"],"properties":{"code":{"type":"string","example":"ICT","description":"Code of the Department"},"name":{"type":"string","example":"Information Technology","description":"Name of the Department"},"min_range":{"type":"number","example":0,"description":"Minimum Approval Range of the Department"},"max_range":{"type":"number","example":10000000,"description":"Maximum Approval Range of the Department"}},"example":{"code":"ICT","name":"Information Technology","min_range":0,"max_range":10000000}}}}},"parameters":[{"in":"query","name":"token","description":"Authentication Token List would be provided by BIZZSOL","required":true,"schema":{"type":"string","example":"abcdefghijklmnopqrstuvwxyzabcdef"}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"success":true,"data":{"message":"Department has been updated successfully."}}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X PUT \"https:\/\/bizzsol.com.bd\/sslz\/api\/departments\/{department}\" \n    -d \"code\"=\"ICT\" \\\n    -d \"name\"=\"Information Technology\" \\\n    -d \"min_range\"=\"0\" \\\n    -d \"max_range\"=\"10000000\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/bizzsol.com.bd\/sslz\/api\/departments\/{department}\");\n\nlet params = {\n    \"token\": \"abcdefghijklmnopqrstuvwxyzabcdef\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"code\": \"ICT\",\n    \"name\": \"Information Technology\",\n    \"min_range\": \"0\",\n    \"max_range\": \"10000000\",\n})\n\nfetch(url, {\n    method: \"PUT\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"code\" =>  \"ICT\",\n    \"name\" =>  \"Information Technology\",\n    \"min_range\" =>  \"0\",\n    \"max_range\" =>  \"10000000\",\n];\n\n$query = [\n    \"token\" => \"abcdefghijklmnopqrstuvwxyzabcdef\",\n];\n\n\n$ch = curl_init(\"https:\/\/bizzsol.com.bd\/sslz\/api\/departments\/{department}?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"PUT\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]},"delete":{"tags":["Department"],"operationId":"Delete Department","description":"Delete an available Department.","parameters":[{"in":"query","name":"token","description":"Authentication Token List would be provided by BIZZSOL","required":true,"schema":{"type":"string","example":"abcdefghijklmnopqrstuvwxyzabcdef"}},{"in":"path","name":"department_id","description":"Unique ID of the Department","required":true,"schema":{"type":"integer","example":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"success":true,"data":{"message":"Department has been Deleted successfully."}}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X DELETE \"https:\/\/bizzsol.com.bd\/sslz\/api\/departments\/{department}\" \n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/bizzsol.com.bd\/sslz\/api\/departments\/{department}\");\n\nlet params = {\n    \"token\": \"abcdefghijklmnopqrstuvwxyzabcdef\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"DELETE\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$query = [\n    \"token\" => \"abcdefghijklmnopqrstuvwxyzabcdef\",\n];\n\n\n$ch = curl_init(\"https:\/\/bizzsol.com.bd\/sslz\/api\/departments\/{department}?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"DELETE\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/sections":{"get":{"tags":["Section"],"operationId":"List of Sections","description":"Get the list of available sections.","parameters":[{"in":"query","name":"token","description":"Authentication Token List would be provided by BIZZSOL","required":true,"schema":{"type":"string","example":"abcdefghijklmnopqrstuvwxyzabcdef"}}],"responses":{"500":{"description":"error","content":{"application\/json":{"schema":{"type":"object","example":{"success":false,"message":"Invalid Token!"}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/bizzsol.com.bd\/sslz\/api\/sections\" \n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/bizzsol.com.bd\/sslz\/api\/sections\");\n\nlet params = {\n    \"token\": \"abcdefghijklmnopqrstuvwxyzabcdef\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$query = [\n    \"token\" => \"abcdefghijklmnopqrstuvwxyzabcdef\",\n];\n\n\n$ch = curl_init(\"https:\/\/bizzsol.com.bd\/sslz\/api\/sections?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]},"post":{"tags":["Section"],"operationId":"Store Section","description":"Store a new Section.","requestBody":{"description":"Store a new Section.","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["department_id","code","name"],"properties":{"department_id":{"type":"integer","example":0,"description":"department_id of the Section"},"code":{"type":"string","example":"ICT","description":"Code of the Section"},"name":{"type":"string","example":"Information Technology","description":"Name of the Section"}},"example":{"department_id":0,"code":"ICT","name":"Information Technology"}}}}},"parameters":[{"in":"query","name":"token","description":"Authentication Token List would be provided by BIZZSOL","required":true,"schema":{"type":"string","example":"abcdefghijklmnopqrstuvwxyzabcdef"}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"success":true,"data":{"message":"Section has been stored successfully."}}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X POST \"https:\/\/bizzsol.com.bd\/sslz\/api\/sections\" \n    -d \"department_id\"=\"0\" \\\n    -d \"code\"=\"ICT\" \\\n    -d \"name\"=\"Information Technology\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/bizzsol.com.bd\/sslz\/api\/sections\");\n\nlet params = {\n    \"token\": \"abcdefghijklmnopqrstuvwxyzabcdef\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"department_id\": \"0\",\n    \"code\": \"ICT\",\n    \"name\": \"Information Technology\",\n})\n\nfetch(url, {\n    method: \"POST\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"department_id\" =>  \"0\",\n    \"code\" =>  \"ICT\",\n    \"name\" =>  \"Information Technology\",\n];\n\n$query = [\n    \"token\" => \"abcdefghijklmnopqrstuvwxyzabcdef\",\n];\n\n\n$ch = curl_init(\"https:\/\/bizzsol.com.bd\/sslz\/api\/sections?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_setopt($ch, CURLOPT_POSTFIELDS, $body);\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/sections\/{section}":{"get":{"tags":["Section"],"operationId":"Section Details","description":"Get Section by it's unique ID.","parameters":[{"in":"query","name":"token","description":"Authentication Token List would be provided by BIZZSOL","required":true,"schema":{"type":"string","example":"abcdefghijklmnopqrstuvwxyzabcdef"}},{"in":"path","name":"section_id","description":"ID of the Section","required":true,"schema":{"type":"integer","example":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":[]}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/bizzsol.com.bd\/sslz\/api\/sections\/{section}\" \n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/bizzsol.com.bd\/sslz\/api\/sections\/{section}\");\n\nlet params = {\n    \"token\": \"abcdefghijklmnopqrstuvwxyzabcdef\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$query = [\n    \"token\" => \"abcdefghijklmnopqrstuvwxyzabcdef\",\n];\n\n\n$ch = curl_init(\"https:\/\/bizzsol.com.bd\/sslz\/api\/sections\/{section}?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]},"put":{"tags":["Section"],"operationId":"Update Section","description":"Update an available Section.","requestBody":{"description":"Update an available Section.","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["department_id","code","name"],"properties":{"department_id":{"type":"integer","example":0,"description":"department_id of the Section"},"code":{"type":"string","example":"ICT","description":"Code of the Section"},"name":{"type":"string","example":"Information Technology","description":"Name of the Section"}},"example":{"department_id":0,"code":"ICT","name":"Information Technology"}}}}},"parameters":[{"in":"query","name":"token","description":"Authentication Token List would be provided by BIZZSOL","required":true,"schema":{"type":"string","example":"abcdefghijklmnopqrstuvwxyzabcdef"}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"success":true,"data":{"message":"Section has been updated successfully."}}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X PUT \"https:\/\/bizzsol.com.bd\/sslz\/api\/sections\/{section}\" \n    -d \"department_id\"=\"0\" \\\n    -d \"code\"=\"ICT\" \\\n    -d \"name\"=\"Information Technology\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/bizzsol.com.bd\/sslz\/api\/sections\/{section}\");\n\nlet params = {\n    \"token\": \"abcdefghijklmnopqrstuvwxyzabcdef\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"department_id\": \"0\",\n    \"code\": \"ICT\",\n    \"name\": \"Information Technology\",\n})\n\nfetch(url, {\n    method: \"PUT\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"department_id\" =>  \"0\",\n    \"code\" =>  \"ICT\",\n    \"name\" =>  \"Information Technology\",\n];\n\n$query = [\n    \"token\" => \"abcdefghijklmnopqrstuvwxyzabcdef\",\n];\n\n\n$ch = curl_init(\"https:\/\/bizzsol.com.bd\/sslz\/api\/sections\/{section}?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"PUT\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]},"delete":{"tags":["Section"],"operationId":"Delete Section","description":"Delete an available Section.","parameters":[{"in":"query","name":"token","description":"Authentication Token List would be provided by BIZZSOL","required":true,"schema":{"type":"string","example":"abcdefghijklmnopqrstuvwxyzabcdef"}},{"in":"path","name":"section_id","description":"Unique ID of the Section","required":true,"schema":{"type":"integer","example":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"success":true,"data":{"message":"Section has been Deleted successfully."}}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X DELETE \"https:\/\/bizzsol.com.bd\/sslz\/api\/sections\/{section}\" \n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/bizzsol.com.bd\/sslz\/api\/sections\/{section}\");\n\nlet params = {\n    \"token\": \"abcdefghijklmnopqrstuvwxyzabcdef\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"DELETE\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$query = [\n    \"token\" => \"abcdefghijklmnopqrstuvwxyzabcdef\",\n];\n\n\n$ch = curl_init(\"https:\/\/bizzsol.com.bd\/sslz\/api\/sections\/{section}?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"DELETE\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/locations":{"get":{"tags":["Location"],"operationId":"List of Locations","description":"Get List of all available Locations.","parameters":[{"in":"query","name":"token","description":"Authentication Token List would be provided by BIZZSOL","required":true,"schema":{"type":"string","example":"abcdefghijklmnopqrstuvwxyzabcdef"}}],"responses":{"500":{"description":"error","content":{"application\/json":{"schema":{"type":"object","example":{"success":false,"message":"Invalid Token!"}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/bizzsol.com.bd\/sslz\/api\/locations\" \n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/bizzsol.com.bd\/sslz\/api\/locations\");\n\nlet params = {\n    \"token\": \"abcdefghijklmnopqrstuvwxyzabcdef\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$query = [\n    \"token\" => \"abcdefghijklmnopqrstuvwxyzabcdef\",\n];\n\n\n$ch = curl_init(\"https:\/\/bizzsol.com.bd\/sslz\/api\/locations?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]},"post":{"tags":["Location"],"operationId":"Store Location","description":"Store a new Location.","requestBody":{"description":"Store a new Location.","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["code","name","short_name","address","unit_id"],"properties":{"code":{"type":"string","example":"ICT","description":"Code of the Location"},"name":{"type":"string","example":"Information Technology","description":"Name of the Location"},"short_name":{"type":"string","example":"0","description":"Short Name of the Location"},"address":{"type":"text","example":"Dhaka","description":"Address of the Location"},"unit_id":{"type":"integer","example":100,"description":"Unit ID of the Location"}},"example":{"code":"ICT","name":"Information Technology","short_name":"0","address":"Dhaka","unit_id":100}}}}},"parameters":[{"in":"query","name":"token","description":"Authentication Token List would be provided by BIZZSOL","required":true,"schema":{"type":"string","example":"abcdefghijklmnopqrstuvwxyzabcdef"}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"success":true,"data":{"message":"Location has been stored successfully."}}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X POST \"https:\/\/bizzsol.com.bd\/sslz\/api\/locations\" \n    -d \"code\"=\"ICT\" \\\n    -d \"name\"=\"Information Technology\" \\\n    -d \"short_name\"=\"0\" \\\n    -d \"address\"=\"Dhaka\" \\\n    -d \"unit_id\"=\"100\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/bizzsol.com.bd\/sslz\/api\/locations\");\n\nlet params = {\n    \"token\": \"abcdefghijklmnopqrstuvwxyzabcdef\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"code\": \"ICT\",\n    \"name\": \"Information Technology\",\n    \"short_name\": \"0\",\n    \"address\": \"Dhaka\",\n    \"unit_id\": \"100\",\n})\n\nfetch(url, {\n    method: \"POST\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"code\" =>  \"ICT\",\n    \"name\" =>  \"Information Technology\",\n    \"short_name\" =>  \"0\",\n    \"address\" =>  \"Dhaka\",\n    \"unit_id\" =>  \"100\",\n];\n\n$query = [\n    \"token\" => \"abcdefghijklmnopqrstuvwxyzabcdef\",\n];\n\n\n$ch = curl_init(\"https:\/\/bizzsol.com.bd\/sslz\/api\/locations?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_setopt($ch, CURLOPT_POSTFIELDS, $body);\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/locations\/{location}":{"get":{"tags":["Location"],"operationId":"Location Details","description":"Get Location by it's unique ID.","parameters":[{"in":"query","name":"token","description":"Authentication Token List would be provided by BIZZSOL","required":true,"schema":{"type":"string","example":"abcdefghijklmnopqrstuvwxyzabcdef"}},{"in":"path","name":"location_id","description":"ID of the Location","required":true,"schema":{"type":"integer","example":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"success":true,"data":{"location":{"id":6,"code":"DHK","name":"Dhaka","short_name":"Dhaka","address":"Dhaka","unit_id":1,"unit_name":"SOFTWARE SHOP LTD."}}}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/bizzsol.com.bd\/sslz\/api\/locations\/{location}\" \n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/bizzsol.com.bd\/sslz\/api\/locations\/{location}\");\n\nlet params = {\n    \"token\": \"abcdefghijklmnopqrstuvwxyzabcdef\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$query = [\n    \"token\" => \"abcdefghijklmnopqrstuvwxyzabcdef\",\n];\n\n\n$ch = curl_init(\"https:\/\/bizzsol.com.bd\/sslz\/api\/locations\/{location}?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]},"put":{"tags":["Location"],"operationId":"Update Location","description":"Update an available Location.","requestBody":{"description":"Update an available Location.","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["code","name","short_name","address","unit_id"],"properties":{"code":{"type":"string","example":"ICT","description":"Code of the Location"},"name":{"type":"string","example":"Information Technology","description":"Name of the Location"},"short_name":{"type":"string","example":"0","description":"Short Name of the Location"},"address":{"type":"text","example":"Dhaka","description":"Address of the Location"},"unit_id":{"type":"integer","example":100,"description":"Unit ID of the Location"}},"example":{"code":"ICT","name":"Information Technology","short_name":"0","address":"Dhaka","unit_id":100}}}}},"parameters":[{"in":"query","name":"token","description":"Authentication Token List would be provided by BIZZSOL","required":true,"schema":{"type":"string","example":"abcdefghijklmnopqrstuvwxyzabcdef"}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"success":true,"data":{"message":"Location has been updated successfully."}}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X PUT \"https:\/\/bizzsol.com.bd\/sslz\/api\/locations\/{location}\" \n    -d \"code\"=\"ICT\" \\\n    -d \"name\"=\"Information Technology\" \\\n    -d \"short_name\"=\"0\" \\\n    -d \"address\"=\"Dhaka\" \\\n    -d \"unit_id\"=\"100\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/bizzsol.com.bd\/sslz\/api\/locations\/{location}\");\n\nlet params = {\n    \"token\": \"abcdefghijklmnopqrstuvwxyzabcdef\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"code\": \"ICT\",\n    \"name\": \"Information Technology\",\n    \"short_name\": \"0\",\n    \"address\": \"Dhaka\",\n    \"unit_id\": \"100\",\n})\n\nfetch(url, {\n    method: \"PUT\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"code\" =>  \"ICT\",\n    \"name\" =>  \"Information Technology\",\n    \"short_name\" =>  \"0\",\n    \"address\" =>  \"Dhaka\",\n    \"unit_id\" =>  \"100\",\n];\n\n$query = [\n    \"token\" => \"abcdefghijklmnopqrstuvwxyzabcdef\",\n];\n\n\n$ch = curl_init(\"https:\/\/bizzsol.com.bd\/sslz\/api\/locations\/{location}?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"PUT\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]},"delete":{"tags":["Location"],"operationId":"Delete Location","description":"Delete an available Location.","parameters":[{"in":"query","name":"token","description":"Authentication Token List would be provided by BIZZSOL","required":true,"schema":{"type":"string","example":"abcdefghijklmnopqrstuvwxyzabcdef"}},{"in":"path","name":"location_id","description":"Unique ID of the Location","required":true,"schema":{"type":"integer","example":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"success":true,"data":{"message":"Location has been Deleted successfully."}}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X DELETE \"https:\/\/bizzsol.com.bd\/sslz\/api\/locations\/{location}\" \n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/bizzsol.com.bd\/sslz\/api\/locations\/{location}\");\n\nlet params = {\n    \"token\": \"abcdefghijklmnopqrstuvwxyzabcdef\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"DELETE\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$query = [\n    \"token\" => \"abcdefghijklmnopqrstuvwxyzabcdef\",\n];\n\n\n$ch = curl_init(\"https:\/\/bizzsol.com.bd\/sslz\/api\/locations\/{location}?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"DELETE\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/designations":{"get":{"tags":["Designation"],"operationId":"List of Designations","description":"Get List of all available Designations.","parameters":[{"in":"query","name":"token","description":"Authentication Token List would be provided by BIZZSOL","required":true,"schema":{"type":"string","example":"abcdefghijklmnopqrstuvwxyzabcdef"}}],"responses":{"500":{"description":"error","content":{"application\/json":{"schema":{"type":"object","example":{"success":false,"message":"Invalid Token!"}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/bizzsol.com.bd\/sslz\/api\/designations\" \n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/bizzsol.com.bd\/sslz\/api\/designations\");\n\nlet params = {\n    \"token\": \"abcdefghijklmnopqrstuvwxyzabcdef\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$query = [\n    \"token\" => \"abcdefghijklmnopqrstuvwxyzabcdef\",\n];\n\n\n$ch = curl_init(\"https:\/\/bizzsol.com.bd\/sslz\/api\/designations?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]},"post":{"tags":["Designation"],"operationId":"Store Designation","description":"Store a new Designation.","requestBody":{"description":"Store a new Designation.","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["short_name","name"],"properties":{"short_name":{"type":"string","example":"Chief Executive Officer","description":"Short Name of the Designation"},"name":{"type":"string","example":"Chief Executive Officer","description":"Name of the Designation"}},"example":{"short_name":"Chief Executive Officer","name":"Chief Executive Officer"}}}}},"parameters":[{"in":"query","name":"token","description":"Authentication Token List would be provided by BIZZSOL","required":true,"schema":{"type":"string","example":"abcdefghijklmnopqrstuvwxyzabcdef"}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"success":true,"data":{"message":"Designation has been stored successfully."}}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X POST \"https:\/\/bizzsol.com.bd\/sslz\/api\/designations\" \n    -d \"short_name\"=\"Chief Executive Officer\" \\\n    -d \"name\"=\"Chief Executive Officer\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/bizzsol.com.bd\/sslz\/api\/designations\");\n\nlet params = {\n    \"token\": \"abcdefghijklmnopqrstuvwxyzabcdef\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"short_name\": \"Chief Executive Officer\",\n    \"name\": \"Chief Executive Officer\",\n})\n\nfetch(url, {\n    method: \"POST\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"short_name\" =>  \"Chief Executive Officer\",\n    \"name\" =>  \"Chief Executive Officer\",\n];\n\n$query = [\n    \"token\" => \"abcdefghijklmnopqrstuvwxyzabcdef\",\n];\n\n\n$ch = curl_init(\"https:\/\/bizzsol.com.bd\/sslz\/api\/designations?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_setopt($ch, CURLOPT_POSTFIELDS, $body);\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/designations\/{designation}":{"get":{"tags":["Designation"],"operationId":"Designation Details","description":"Get Designation by it's unique ID.","parameters":[{"in":"query","name":"token","description":"Authentication Token List would be provided by BIZZSOL","required":true,"schema":{"type":"string","example":"abcdefghijklmnopqrstuvwxyzabcdef"}},{"in":"path","name":"designation_id","description":"ID of the Designation","required":true,"schema":{"type":"integer","example":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"success":true,"data":{"designation":{"id":533,"name":"Group Chief Financial Officer","short_name":"CFO"}}}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/bizzsol.com.bd\/sslz\/api\/designations\/{designation}\" \n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/bizzsol.com.bd\/sslz\/api\/designations\/{designation}\");\n\nlet params = {\n    \"token\": \"abcdefghijklmnopqrstuvwxyzabcdef\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$query = [\n    \"token\" => \"abcdefghijklmnopqrstuvwxyzabcdef\",\n];\n\n\n$ch = curl_init(\"https:\/\/bizzsol.com.bd\/sslz\/api\/designations\/{designation}?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]},"put":{"tags":["Designation"],"operationId":"Update Designation","description":"Update an available Designation.","requestBody":{"description":"Update an available Designation.","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["short_name","name"],"properties":{"short_name":{"type":"string","example":"Chief Executive Officer","description":"Short Name of the Designation"},"name":{"type":"string","example":"Chief Executive Officer","description":"Name of the Designation"}},"example":{"short_name":"Chief Executive Officer","name":"Chief Executive Officer"}}}}},"parameters":[{"in":"query","name":"token","description":"Authentication Token List would be provided by BIZZSOL","required":true,"schema":{"type":"string","example":"abcdefghijklmnopqrstuvwxyzabcdef"}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"success":true,"data":{"message":"Designation has been updated successfully."}}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X PUT \"https:\/\/bizzsol.com.bd\/sslz\/api\/designations\/{designation}\" \n    -d \"short_name\"=\"Chief Executive Officer\" \\\n    -d \"name\"=\"Chief Executive Officer\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/bizzsol.com.bd\/sslz\/api\/designations\/{designation}\");\n\nlet params = {\n    \"token\": \"abcdefghijklmnopqrstuvwxyzabcdef\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"short_name\": \"Chief Executive Officer\",\n    \"name\": \"Chief Executive Officer\",\n})\n\nfetch(url, {\n    method: \"PUT\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"short_name\" =>  \"Chief Executive Officer\",\n    \"name\" =>  \"Chief Executive Officer\",\n];\n\n$query = [\n    \"token\" => \"abcdefghijklmnopqrstuvwxyzabcdef\",\n];\n\n\n$ch = curl_init(\"https:\/\/bizzsol.com.bd\/sslz\/api\/designations\/{designation}?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"PUT\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]},"delete":{"tags":["Designation"],"operationId":"Delete Designation","description":"Delete an available Designation.","parameters":[{"in":"query","name":"token","description":"Authentication Token List would be provided by BIZZSOL","required":true,"schema":{"type":"string","example":"abcdefghijklmnopqrstuvwxyzabcdef"}},{"in":"path","name":"designation_id","description":"Unique ID of the Designation","required":true,"schema":{"type":"integer","example":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"success":true,"data":{"message":"Designation has been Deleted successfully."}}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X DELETE \"https:\/\/bizzsol.com.bd\/sslz\/api\/designations\/{designation}\" \n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/bizzsol.com.bd\/sslz\/api\/designations\/{designation}\");\n\nlet params = {\n    \"token\": \"abcdefghijklmnopqrstuvwxyzabcdef\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"DELETE\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$query = [\n    \"token\" => \"abcdefghijklmnopqrstuvwxyzabcdef\",\n];\n\n\n$ch = curl_init(\"https:\/\/bizzsol.com.bd\/sslz\/api\/designations\/{designation}?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"DELETE\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/employees":{"get":{"tags":["Employee"],"operationId":"List of Employees","description":"Get List of all available Employees.","parameters":[{"in":"query","name":"token","description":"Authentication Token List would be provided by BIZZSOL","required":true,"schema":{"type":"string","example":"abcdefghijklmnopqrstuvwxyzabcdef"}}],"responses":{"500":{"description":"error","content":{"application\/json":{"schema":{"type":"object","example":{"success":false,"message":"Invalid Token!"}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/bizzsol.com.bd\/sslz\/api\/employees\" \n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/bizzsol.com.bd\/sslz\/api\/employees\");\n\nlet params = {\n    \"token\": \"abcdefghijklmnopqrstuvwxyzabcdef\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$query = [\n    \"token\" => \"abcdefghijklmnopqrstuvwxyzabcdef\",\n];\n\n\n$ch = curl_init(\"https:\/\/bizzsol.com.bd\/sslz\/api\/employees?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]},"post":{"tags":["Employee"],"operationId":"Store Employee","description":"Store a new Employee.","requestBody":{"description":"Store a new Employee.","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["uid","name","gender","date_of_birth","designation_id","location_id","unit_id","department_id","section_id","date_of_joining","contact"],"properties":{"uid":{"type":"string","example":"1001","description":"UID of the Employee"},"name":{"type":"string","example":"john Doe","description":"Name of the Employee"},"gender":{"type":"string","example":"Male\/Female","description":"Gender of the Employee"},"date_of_birth":{"type":"date","example":"2000-01-01","description":"Date of Birth of the Employee"},"designation_id":{"type":"integer","example":100,"description":"Designation ID of the Employee"},"location_id":{"type":"integer","example":100,"description":"Location ID of the Employee"},"unit_id":{"type":"integer","example":100,"description":"Unit ID of the Employee"},"department_id":{"type":"integer","example":100,"description":"Department ID of the Employee"},"section_id":{"type":"integer","example":100,"description":"Section ID of the Employee"},"date_of_joining":{"type":"date","example":"2024-10-10","description":"Date of Joining of the Employee"},"contact":{"type":"string","example":"01234567890","description":"Contact of the Employee"}},"example":{"uid":"1001","name":"john Doe","gender":"Male\/Female","date_of_birth":"2000-01-01","designation_id":100,"location_id":100,"unit_id":100,"department_id":100,"section_id":100,"date_of_joining":"2024-10-10","contact":"01234567890"}}}}},"parameters":[{"in":"query","name":"token","description":"Authentication Token List would be provided by BIZZSOL","required":true,"schema":{"type":"string","example":"abcdefghijklmnopqrstuvwxyzabcdef"}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"success":true,"data":{"message":"Employee has been stored successfully."}}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X POST \"https:\/\/bizzsol.com.bd\/sslz\/api\/employees\" \n    -d \"uid\"=\"1001\" \\\n    -d \"name\"=\"john Doe\" \\\n    -d \"gender\"=\"Male\/Female\" \\\n    -d \"date_of_birth\"=\"2000-01-01\" \\\n    -d \"designation_id\"=\"100\" \\\n    -d \"location_id\"=\"100\" \\\n    -d \"unit_id\"=\"100\" \\\n    -d \"department_id\"=\"100\" \\\n    -d \"section_id\"=\"100\" \\\n    -d \"date_of_joining\"=\"2024-10-10\" \\\n    -d \"contact\"=\"01234567890\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/bizzsol.com.bd\/sslz\/api\/employees\");\n\nlet params = {\n    \"token\": \"abcdefghijklmnopqrstuvwxyzabcdef\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"uid\": \"1001\",\n    \"name\": \"john Doe\",\n    \"gender\": \"Male\/Female\",\n    \"date_of_birth\": \"2000-01-01\",\n    \"designation_id\": \"100\",\n    \"location_id\": \"100\",\n    \"unit_id\": \"100\",\n    \"department_id\": \"100\",\n    \"section_id\": \"100\",\n    \"date_of_joining\": \"2024-10-10\",\n    \"contact\": \"01234567890\",\n})\n\nfetch(url, {\n    method: \"POST\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"uid\" =>  \"1001\",\n    \"name\" =>  \"john Doe\",\n    \"gender\" =>  \"Male\/Female\",\n    \"date_of_birth\" =>  \"2000-01-01\",\n    \"designation_id\" =>  \"100\",\n    \"location_id\" =>  \"100\",\n    \"unit_id\" =>  \"100\",\n    \"department_id\" =>  \"100\",\n    \"section_id\" =>  \"100\",\n    \"date_of_joining\" =>  \"2024-10-10\",\n    \"contact\" =>  \"01234567890\",\n];\n\n$query = [\n    \"token\" => \"abcdefghijklmnopqrstuvwxyzabcdef\",\n];\n\n\n$ch = curl_init(\"https:\/\/bizzsol.com.bd\/sslz\/api\/employees?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_setopt($ch, CURLOPT_POSTFIELDS, $body);\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/employees\/{employee}":{"get":{"tags":["Employee"],"operationId":"Employee Details","description":"Get Employee by it's unique ID.","parameters":[{"in":"query","name":"token","description":"Authentication Token List would be provided by BIZZSOL","required":true,"schema":{"type":"string","example":"abcdefghijklmnopqrstuvwxyzabcdef"}},{"in":"path","name":"employee_id","description":"ID of the Employee","required":true,"schema":{"type":"integer","example":17156}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"success":true,"data":{"employee":{"id":17156,"uid":"1948","designation_id":533,"designation":"Group Chief Financial Officer","unit_id":1,"unit":"SOFTWARE SHOP LTD.","location_id":null,"location":"","department_id":106,"department":"Finance & Accounts","section_id":257,"section":"Finance & Accounts","name":"Abdullah Al Mahbub","gender":null,"date_of_birth":"2023-12-19","age":"0 y 0 m 28 d","date_of_joining":"2023-12-19","service_years":"0 y 0 m 28 d","contact":null}}}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/bizzsol.com.bd\/sslz\/api\/employees\/{employee}\" \n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/bizzsol.com.bd\/sslz\/api\/employees\/{employee}\");\n\nlet params = {\n    \"token\": \"abcdefghijklmnopqrstuvwxyzabcdef\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$query = [\n    \"token\" => \"abcdefghijklmnopqrstuvwxyzabcdef\",\n];\n\n\n$ch = curl_init(\"https:\/\/bizzsol.com.bd\/sslz\/api\/employees\/{employee}?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]},"put":{"tags":["Employee"],"operationId":"Update Employee","description":"Update an available Employee.","requestBody":{"description":"Update an available Employee.","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["uid","name","gender","date_of_birth","designation_id","location_id","unit_id","department_id","section_id","date_of_joining","contact"],"properties":{"uid":{"type":"string","example":"1001","description":"UID of the Employee"},"name":{"type":"string","example":"john Doe","description":"Name of the Employee"},"gender":{"type":"string","example":"Male\/Female","description":"Gender of the Employee"},"date_of_birth":{"type":"date","example":"2000-01-01","description":"Date of Birth of the Employee"},"designation_id":{"type":"integer","example":100,"description":"Designation ID of the Employee"},"location_id":{"type":"integer","example":100,"description":"Location ID of the Employee"},"unit_id":{"type":"integer","example":100,"description":"Unit ID of the Employee"},"department_id":{"type":"integer","example":100,"description":"Department ID of the Employee"},"section_id":{"type":"integer","example":100,"description":"Section ID of the Employee"},"date_of_joining":{"type":"date","example":"2024-10-10","description":"Date of Joining of the Employee"},"contact":{"type":"string","example":"01234567890","description":"Contact of the Employee"}},"example":{"uid":"1001","name":"john Doe","gender":"Male\/Female","date_of_birth":"2000-01-01","designation_id":100,"location_id":100,"unit_id":100,"department_id":100,"section_id":100,"date_of_joining":"2024-10-10","contact":"01234567890"}}}}},"parameters":[{"in":"query","name":"token","description":"Authentication Token List would be provided by BIZZSOL","required":true,"schema":{"type":"string","example":"abcdefghijklmnopqrstuvwxyzabcdef"}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"success":true,"data":{"message":"Employee has been updated successfully."}}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X PUT \"https:\/\/bizzsol.com.bd\/sslz\/api\/employees\/{employee}\" \n    -d \"uid\"=\"1001\" \\\n    -d \"name\"=\"john Doe\" \\\n    -d \"gender\"=\"Male\/Female\" \\\n    -d \"date_of_birth\"=\"2000-01-01\" \\\n    -d \"designation_id\"=\"100\" \\\n    -d \"location_id\"=\"100\" \\\n    -d \"unit_id\"=\"100\" \\\n    -d \"department_id\"=\"100\" \\\n    -d \"section_id\"=\"100\" \\\n    -d \"date_of_joining\"=\"2024-10-10\" \\\n    -d \"contact\"=\"01234567890\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/bizzsol.com.bd\/sslz\/api\/employees\/{employee}\");\n\nlet params = {\n    \"token\": \"abcdefghijklmnopqrstuvwxyzabcdef\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"uid\": \"1001\",\n    \"name\": \"john Doe\",\n    \"gender\": \"Male\/Female\",\n    \"date_of_birth\": \"2000-01-01\",\n    \"designation_id\": \"100\",\n    \"location_id\": \"100\",\n    \"unit_id\": \"100\",\n    \"department_id\": \"100\",\n    \"section_id\": \"100\",\n    \"date_of_joining\": \"2024-10-10\",\n    \"contact\": \"01234567890\",\n})\n\nfetch(url, {\n    method: \"PUT\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"uid\" =>  \"1001\",\n    \"name\" =>  \"john Doe\",\n    \"gender\" =>  \"Male\/Female\",\n    \"date_of_birth\" =>  \"2000-01-01\",\n    \"designation_id\" =>  \"100\",\n    \"location_id\" =>  \"100\",\n    \"unit_id\" =>  \"100\",\n    \"department_id\" =>  \"100\",\n    \"section_id\" =>  \"100\",\n    \"date_of_joining\" =>  \"2024-10-10\",\n    \"contact\" =>  \"01234567890\",\n];\n\n$query = [\n    \"token\" => \"abcdefghijklmnopqrstuvwxyzabcdef\",\n];\n\n\n$ch = curl_init(\"https:\/\/bizzsol.com.bd\/sslz\/api\/employees\/{employee}?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"PUT\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]},"delete":{"tags":["Employee"],"operationId":"Delete Employee","description":"Delete an available Employee.","parameters":[{"in":"query","name":"token","description":"Authentication Token List would be provided by BIZZSOL","required":true,"schema":{"type":"string","example":"abcdefghijklmnopqrstuvwxyzabcdef"}},{"in":"path","name":"employee_id","description":"Unique ID of the Employee","required":true,"schema":{"type":"integer","example":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"success":true,"data":{"message":"Employee has been Deleted successfully."}}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X DELETE \"https:\/\/bizzsol.com.bd\/sslz\/api\/employees\/{employee}\" \n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/bizzsol.com.bd\/sslz\/api\/employees\/{employee}\");\n\nlet params = {\n    \"token\": \"abcdefghijklmnopqrstuvwxyzabcdef\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"DELETE\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$query = [\n    \"token\" => \"abcdefghijklmnopqrstuvwxyzabcdef\",\n];\n\n\n$ch = curl_init(\"https:\/\/bizzsol.com.bd\/sslz\/api\/employees\/{employee}?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"DELETE\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/roles":{"get":{"tags":["Role"],"operationId":"List of Roles","description":"Get List of all available Roles.","parameters":[{"in":"query","name":"token","description":"Authentication Token List would be provided by BIZZSOL","required":true,"schema":{"type":"string","example":"abcdefghijklmnopqrstuvwxyzabcdef"}}],"responses":{"500":{"description":"error","content":{"application\/json":{"schema":{"type":"object","example":{"success":false,"message":"Invalid Token!"}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/bizzsol.com.bd\/sslz\/api\/roles\" \n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/bizzsol.com.bd\/sslz\/api\/roles\");\n\nlet params = {\n    \"token\": \"abcdefghijklmnopqrstuvwxyzabcdef\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$query = [\n    \"token\" => \"abcdefghijklmnopqrstuvwxyzabcdef\",\n];\n\n\n$ch = curl_init(\"https:\/\/bizzsol.com.bd\/sslz\/api\/roles?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/users":{"get":{"tags":["User"],"operationId":"List of Users","description":"Get the List of all available Users.","parameters":[{"in":"query","name":"token","description":"Authentication Token List would be provided by BIZZSOL","required":true,"schema":{"type":"string","example":"abcdefghijklmnopqrstuvwxyzabcdef"}}],"responses":{"500":{"description":"error","content":{"application\/json":{"schema":{"type":"object","example":{"success":false,"message":"Invalid Token!"}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/bizzsol.com.bd\/sslz\/api\/users\" \n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/bizzsol.com.bd\/sslz\/api\/users\");\n\nlet params = {\n    \"token\": \"abcdefghijklmnopqrstuvwxyzabcdef\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$query = [\n    \"token\" => \"abcdefghijklmnopqrstuvwxyzabcdef\",\n];\n\n\n$ch = curl_init(\"https:\/\/bizzsol.com.bd\/sslz\/api\/users?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]},"post":{"tags":["User"],"operationId":"Store User","description":"Store a new User.","requestBody":{"description":"Store a new User.","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["name","uid","email","password","password_confirmation","units","sections","roles"],"properties":{"name":{"type":"string","example":"John Doe","description":"Name of the User"},"uid":{"type":"string","example":"1001","description":"UID of the User"},"email":{"type":"email","example":"example@email.com","description":"Email of the User"},"phone":{"type":"string","example":"01234567890","description":"Phone of the User"},"password":{"type":"string","example":"12345678","description":"Password of the User"},"password_confirmation":{"type":"string","example":"12345678","description":"Password Confirmation of the User"},"units":{"type":"array","example":"[1, 2, 3]","description":"Array of Units of the User"},"sections":{"type":"array","example":"[1, 2, 3]","description":"Array of Sections of the User"},"roles":{"type":"array","example":"[\"Admin\", \"Employee\"]","description":"Array of Roles of the User"}},"example":{"name":"John Doe","uid":"1001","email":"example@email.com","phone":"01234567890","password":"12345678","password_confirmation":"12345678","units":"[1, 2, 3]","sections":"[1, 2, 3]","roles":"[\"Admin\", \"Employee\"]"}}}}},"parameters":[{"in":"query","name":"token","description":"Authentication Token List would be provided by BIZZSOL","required":true,"schema":{"type":"string","example":"abcdefghijklmnopqrstuvwxyzabcdef"}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"success":true,"data":{"message":"User has been stored successfully."}}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X POST \"https:\/\/bizzsol.com.bd\/sslz\/api\/users\" \n    -d \"name\"=\"John Doe\" \\\n    -d \"uid\"=\"1001\" \\\n    -d \"email\"=\"example@email.com\" \\\n    -d \"phone\"=\"01234567890\" \\\n    -d \"password\"=\"12345678\" \\\n    -d \"password_confirmation\"=\"12345678\" \\\n    -d \"units\"=\"[1, 2, 3]\" \\\n    -d \"sections\"=\"[1, 2, 3]\" \\\n    -d \"roles\"=\"[\"Admin\", \"Employee\"]\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/bizzsol.com.bd\/sslz\/api\/users\");\n\nlet params = {\n    \"token\": \"abcdefghijklmnopqrstuvwxyzabcdef\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"name\": \"John Doe\",\n    \"uid\": \"1001\",\n    \"email\": \"example@email.com\",\n    \"phone\": \"01234567890\",\n    \"password\": \"12345678\",\n    \"password_confirmation\": \"12345678\",\n    \"units\": \"[1, 2, 3]\",\n    \"sections\": \"[1, 2, 3]\",\n    \"roles\": \"[&quot;Admin&quot;, &quot;Employee&quot;]\",\n})\n\nfetch(url, {\n    method: \"POST\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"name\" =>  \"John Doe\",\n    \"uid\" =>  \"1001\",\n    \"email\" =>  \"example@email.com\",\n    \"phone\" =>  \"01234567890\",\n    \"password\" =>  \"12345678\",\n    \"password_confirmation\" =>  \"12345678\",\n    \"units\" => \"json_decode([1, 2, 3], true)\",\n    \"sections\" => \"json_decode([1, 2, 3], true)\",\n    \"roles\" => \"json_decode([\"Admin\", \"Employee\"], true)\",\n];\n\n$query = [\n    \"token\" => \"abcdefghijklmnopqrstuvwxyzabcdef\",\n];\n\n\n$ch = curl_init(\"https:\/\/bizzsol.com.bd\/sslz\/api\/users?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_setopt($ch, CURLOPT_POSTFIELDS, $body);\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/users\/{user}":{"get":{"tags":["User"],"operationId":"User Details","description":"Get User by it's unique ID.","parameters":[{"in":"query","name":"token","description":"Authentication Token List would be provided by BIZZSOL","required":true,"schema":{"type":"string","example":"abcdefghijklmnopqrstuvwxyzabcdef"}},{"in":"path","name":"user_id","description":"ID of the User","required":true,"schema":{"type":"integer","example":17156}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":[]}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/bizzsol.com.bd\/sslz\/api\/users\/{user}\" \n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/bizzsol.com.bd\/sslz\/api\/users\/{user}\");\n\nlet params = {\n    \"token\": \"abcdefghijklmnopqrstuvwxyzabcdef\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$query = [\n    \"token\" => \"abcdefghijklmnopqrstuvwxyzabcdef\",\n];\n\n\n$ch = curl_init(\"https:\/\/bizzsol.com.bd\/sslz\/api\/users\/{user}?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]},"put":{"tags":["User"],"operationId":"Update User","description":"Update an available User.","requestBody":{"description":"Update an available User.","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["name","uid","email","units","sections","roles"],"properties":{"name":{"type":"string","example":"John Doe","description":"Name of the User"},"uid":{"type":"string","example":"1001","description":"UID of the User"},"email":{"type":"email","example":"example@email.com","description":"Email of the User"},"phone":{"type":"string","example":"01234567890","description":"Phone of the User"},"units":{"type":"array","example":"[1, 2, 3]","description":"Array of Units of the User"},"sections":{"type":"array","example":"[1, 2, 3]","description":"Array of Sections of the User"},"roles":{"type":"array","example":"[\"Admin\", \"Employee\"]","description":"Array of Roles of the User"}},"example":{"name":"John Doe","uid":"1001","email":"example@email.com","phone":"01234567890","units":"[1, 2, 3]","sections":"[1, 2, 3]","roles":"[\"Admin\", \"Employee\"]"}}}}},"parameters":[{"in":"query","name":"token","description":"Authentication Token List would be provided by BIZZSOL","required":true,"schema":{"type":"string","example":"abcdefghijklmnopqrstuvwxyzabcdef"}},{"in":"path","name":"user_id","description":"ID of the User","required":true,"schema":{"type":"integer","example":17156}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"success":true,"data":{"message":"User has been updated successfully."}}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X PUT \"https:\/\/bizzsol.com.bd\/sslz\/api\/users\/{user}\" \n    -d \"name\"=\"John Doe\" \\\n    -d \"uid\"=\"1001\" \\\n    -d \"email\"=\"example@email.com\" \\\n    -d \"phone\"=\"01234567890\" \\\n    -d \"units\"=\"[1, 2, 3]\" \\\n    -d \"sections\"=\"[1, 2, 3]\" \\\n    -d \"roles\"=\"[\"Admin\", \"Employee\"]\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/bizzsol.com.bd\/sslz\/api\/users\/{user}\");\n\nlet params = {\n    \"token\": \"abcdefghijklmnopqrstuvwxyzabcdef\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"name\": \"John Doe\",\n    \"uid\": \"1001\",\n    \"email\": \"example@email.com\",\n    \"phone\": \"01234567890\",\n    \"units\": \"[1, 2, 3]\",\n    \"sections\": \"[1, 2, 3]\",\n    \"roles\": \"[&quot;Admin&quot;, &quot;Employee&quot;]\",\n})\n\nfetch(url, {\n    method: \"PUT\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"name\" =>  \"John Doe\",\n    \"uid\" =>  \"1001\",\n    \"email\" =>  \"example@email.com\",\n    \"phone\" =>  \"01234567890\",\n    \"units\" => \"json_decode([1, 2, 3], true)\",\n    \"sections\" => \"json_decode([1, 2, 3], true)\",\n    \"roles\" => \"json_decode([\"Admin\", \"Employee\"], true)\",\n];\n\n$query = [\n    \"token\" => \"abcdefghijklmnopqrstuvwxyzabcdef\",\n];\n\n\n$ch = curl_init(\"https:\/\/bizzsol.com.bd\/sslz\/api\/users\/{user}?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"PUT\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]},"delete":{"tags":["User"],"operationId":"Delete User","description":"Delete an available User.","parameters":[{"in":"query","name":"token","description":"Authentication Token List would be provided by BIZZSOL","required":true,"schema":{"type":"string","example":"abcdefghijklmnopqrstuvwxyzabcdef"}},{"in":"path","name":"user_id","description":"Unique ID of the User","required":true,"schema":{"type":"integer","example":100}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"success":true,"data":{"message":"User has been Deleted successfully."}}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X DELETE \"https:\/\/bizzsol.com.bd\/sslz\/api\/users\/{user}\" \n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/bizzsol.com.bd\/sslz\/api\/users\/{user}\");\n\nlet params = {\n    \"token\": \"abcdefghijklmnopqrstuvwxyzabcdef\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"DELETE\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$query = [\n    \"token\" => \"abcdefghijklmnopqrstuvwxyzabcdef\",\n];\n\n\n$ch = curl_init(\"https:\/\/bizzsol.com.bd\/sslz\/api\/users\/{user}?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"DELETE\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/update-user-password\/{user_id}":{"post":{"tags":["User"],"operationId":"Update User Password","description":"","requestBody":{"description":"","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["password","password_confirmation"],"properties":{"password":{"type":"string","example":"12345678","description":"Password of the User"},"password_confirmation":{"type":"string","example":"12345678","description":"Password Confirmation of the User"}},"example":{"password":"12345678","password_confirmation":"12345678"}}}}},"parameters":[{"in":"query","name":"token","description":"Authentication Token List would be provided by BIZZSOL","required":true,"schema":{"type":"string","example":"abcdefghijklmnopqrstuvwxyzabcdef"}},{"in":"path","name":"user_id","description":"Unique ID of the User","required":true,"schema":{"type":"integer","example":0}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"success":true,"data":{"message":"User Password has been Updated successfully."}}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X POST \"https:\/\/bizzsol.com.bd\/sslz\/api\/update-user-password\/{user_id}\" \n    -d \"password\"=\"12345678\" \\\n    -d \"password_confirmation\"=\"12345678\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/bizzsol.com.bd\/sslz\/api\/update-user-password\/{user_id}\");\n\nlet params = {\n    \"token\": \"abcdefghijklmnopqrstuvwxyzabcdef\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"password\": \"12345678\",\n    \"password_confirmation\": \"12345678\",\n})\n\nfetch(url, {\n    method: \"POST\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"password\" =>  \"12345678\",\n    \"password_confirmation\" =>  \"12345678\",\n];\n\n$query = [\n    \"token\" => \"abcdefghijklmnopqrstuvwxyzabcdef\",\n];\n\n\n$ch = curl_init(\"https:\/\/bizzsol.com.bd\/sslz\/api\/update-user-password\/{user_id}?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_setopt($ch, CURLOPT_POSTFIELDS, $body);\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}}},"x-tagGroups":[{"name":"User Endpoints","tags":["Unit","Department","Section","Location","Designation","Employee","Role","User"]}]}